basilisk-testnet/relaychains/keystore-v1
basilisk-testnet/relaychains/keystore-v2
basilisk-testnet/relaychains/keystore-v3
basilisk-testnet/relaychains/keystore-v4

node_modules
.env
scripts/para-register/parachain.yaml
